{% extends "base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
    <title>Add Income</title>
{% endblock %}
{% block body %}
    
        <h1>Add Income</h1>
        {% if message %}
            <p class="mess">{{ message }}</p>
        {% endif %}
        <form method="POST">
            <label for="source">Source:</label><br>
            <input type="text" id="source" name="source"><br>
            <label for="amount">Amount:</label><br>
            <input type="number" id="amount" name="amount"><br><br>
            <button type="submit">Submit</button>
        </form>
{% endblock %}
