{% extends "base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
    <title>Edit Expense</title>
 {% endblock %}
 {% block body %}
     <div="container">
    <h1>Edit Expense</h1>
    <form method="POST">
        <label for="source">Source:</label><br>
        <input type="text" id="source" name="source" value="{{ expense.source }}"><br>
        <label for="amount">Amount:</label><br>
        <input type="number" id="amount" name="amount" value="{{ expense.amount }}"><br><br>
        <button type="submit">Submit</button>
    </form><div>
{% endblock %}
